@model EventEasePOE2._0.Models.Booking

<h2>Booking Details</h2>

<div>
    <p><strong>Event:</strong> @Model.Event?.Name</p>
    <p><strong>Venue:</strong> @Model.Venue?.Name</p>
    <p><strong>Booking Date:</strong> @Model.StartDate.ToShortDateString()</p>
    <p><strong>Booking Date:</strong> @Model.EndDate.ToShortDateString()</p>
    <p><strong>Status:</strong> @Model.Status</p>
</div>

<a asp-action="Index">Back to List</a>
